.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  position: absolute;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    position: static;
    flex-direction: row;
    padding-top: 21px;
    padding-bottom: 21px;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
}
