.button {
  color: var(--title-text-color);
  background-color: var(--secondary-bgc);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
  }
}
